.writing{
    font-family: 'Helvetica', sans-serif;
    display:flex;
    justify-content:center;
}

.toc .title{
    display:flex;
    justify-content: space-between;
    margin-bottom: 8 px;
}

.toc .date{
    font-style: italic;
}

.header-text{
    display:flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
}

.blog{
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6;
    font-weight: 200;
}

.titles{
    margin-left:100px;
}

.titles title{
    font-size:30px;
}

.subdate{
    font-size:20px;
    font-style: italic;
}

}

