.main-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    max-width: 50%;
    margin: 200px auto 0 auto;
}

.main_text > .video {
    flex: 0 0 45%;
    margin-left: 70%;
    margin-right: 70%;
}

.main_text > .text {
    flex: 0 0 45%;
}