@font-face {
    font-family: 'Times New Roman MT Condensed Regular';
    src: url('/Users/emilyyip/Desktop/fonts/Times New Roman MT Condensed Regular') format('woff2'),
        url('/Users/emilyyip/Desktop/fonts/Times New Roman MT Condensed Regular') format('woff');
    font-weight: 300;
    font-style: italic;
}
/* nav bar*/
.nav-bar ul{
    display:flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;

}
.nav-bar li {
    display: inline-block; 
    margin: 20px;
}

.nav-bar a{
    text-decoration: none; 
    color: inherit;
}

.nav-bar a:hover {
    color: #7f99b4;;
    opacity: 0.8; 
    }

/** general blueprint for right text blocks **/
.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    max-width: 60%;
    margin: 80px auto 0 auto;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
}

.visual .cover{
    display:block;
    z-index:2;
}

.text{
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.header{
    font-family: 'Times New Roman MT Condensed Regular', 'Times New Roman';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    /*color: #7499b4;*/
}

/** footer**/
.site-footer{
    justify-content: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/**images**/
.visualImg{
    width: 100%;
    height: 100%;
}

.visualVid{
    display: None;
}

.visualImg:hover + .visualVid{
    display:block;
    cursor: url('media/pencil_icon.png') 0 0, auto;
}

.logo{
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 20px;

}
/** panel2 **/
.second_panel{
    padding-top: 100px;
}

/** third panel**/
.third_panel{
    padding-top: 100px;
}

