@font-face {
    font-family: 'Times New Roman MT Condensed Regular';
    src: url('/Users/emilyyip/Desktop/fonts/Times New Roman MT Condensed Regular') format('woff2'),
       url('/Users/emilyyip/Desktop/fonts/Times New Roman MT Condensed Regular') format('woff');
    font-weight: 300;
    font-style: italic;
  }

.main-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 400px;
    max-width: 60%;
    margin: 100px auto 0 auto;
    text-align: center;
}

.main_text > .video {
    flex: 0 0 45%;
}

.main_text > .side-text {
    flex: 0 0 45%;
    margin-left: 50px;
}

text{
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.header{
    font-family: 'Times New Roman MT Condensed Regular', 'Times New Roman';
    font-style: italic;
    font-weight: 300;
    font-size: 60px;
    color: #96aec6;
}

.site-footer{
    justify-content: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}