/* nav bar*/
.nav-bar ul{
    display:flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;

}
.nav-bar li {
    display: inline-block; 
    margin: 20px;
}

.nav-bar a{
    text-decoration: none; 
    color: inherit;
}

.nav-bar a:hover {
    color: #7f99b4;;
    opacity: 0.8; 
    }

.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    max-width: 70%;
    max-height: 70%;
    margin: 100px auto 0 auto;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
}

.text{
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.side-text{
    max-width: 40%;
}

h1,h2,h3{
    font-family: 'Times New Roman MT Condensed Regular', 'Times New Roman';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
}

p{
    font-family: Helvetica, sans-serif
}

/** footer**/
.site-footer{
    justify-content: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/**images**/
video{
    display:block;
    width: 100%;
    height: 100%;
}

.logo{
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 20px;

}
/** panel2 **/
.second_panel{
    padding-top: 100px;
}

/** third panel**/
.third_panel{
    padding-top: 100px;
}

